*{
    text-align: center;
}

.addButton {
    margin-left: -535px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addnew-panel {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    padding: 40px 40px;
    border-radius: 15px;
    max-width: 800px;
    min-width: 300px;
}

.addnew-form {
    max-width: 600px;
}

.save {
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
    width: 50px;
    background-color: #009898;
    color: white;
    text-align: center;
    border: 2px solid #009898;
    cursor: pointer;
}

.cancel {
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
    width: 50px;
    background-color: gray;
    color: white;
    text-align: center;
    border: 2px solid gray;
    cursor: pointer;
}
