h1 {
    text-align: center;
    margin-top: 25px;
}

.btn {
    width: 120px;
    height: 39px;
    border-width: 1px;
    color: white;
    margin-right: 10px;
}

.btn-accept {
    border-color: rgb(33, 150, 243);
    background-color: rgb(33, 150, 243);
}

* {
    font-family: sans-serif;
    text-align: center;
}

.content-table {
    border-collapse: collapse;
    margin: 25px;
    margin-left: 20%;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009898;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    text-align: center;
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #007298;
}

.remove {
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
    width: 50px;
    background-color: #f44336;
    color: white;
    text-align: center;
    border: 2px solid #f44336;
    cursor: pointer;
}

.remove:hover {
    background-color: white;
    border-color: #f44336;
    color: #f44336;
}
